<template name="Header">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- load MUI -->
        <link href="//cdn.muicss.com/mui-0.4.2/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.4.2/js/mui.min.js"></script>
    </head>


    <style>
        .mui-btn{
            background-color: #00BCD4
        }

        #appbar-dropdown{
            padding-right: 20px;
        }


    </style>


    <header>

        <div class="mui-appbar">
            <table width="100%">
                <tr style="vertical-align:middle;">
                    <td class="mui--appbar-height">1895</td>
                    <td class="mui--appbar-height" align="right" id="appbar-dropdown">
                        <div class="mui-dropdown">
                            <button class="mui-btn" data-mui-toggle="dropdown">
                                {{displayName}}
                                <span class="mui-caret"></span>
                            </button>
                            <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                                <li><a href="#">A very long menu option</a></li>
                                <li><a href="#">Option 2</a></li>
                                <li><a href="#">Option 3</a></li>
                                <li><a href="#">Option 4</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>

            <body>

            </body>

        </div>

    </header>
</template>